.App {
  font-family: sans-serif;
  text-align: center;
}

h1 {
  font-family: "Roboto Slab", serif;
  font-weight: 700;
  margin: 45px 140px 20px;
}
h2 {
  font-family: "Roboto Slab", serif;
  font-weight: 400;
  font-size: 25px;
  margin: 10px 125px;
}
.humid,
.windspeed {
  font-family: "Roboto Slab", serif;
  font-weight: 300;
  font-size: 22px;
  margin: 10px 125px;
}

.search,
.btn-info {
  color: #d9f2ff;
  margin: 5px 495px;
  width: 100px;
}
.search {
  margin-top: -90px;
}
.main-image {
  width: 125px;
  margin: -10px 250px;
}
.main-temp {
  font-family: "Roboto Slab", serif;
  font-weight: 500;
  font-size: 45px;
  margin-top: 20px;
  margin-left: -250px;
}

.weather-week,
.weather-days,
.temp-days {
  font-family: "Roboto Slab", serif;
  font-weight: 700;
  font-size: 20px;
  margin-top: 20px;
  text-align: center;
}

.weatherapp {
  border: 5px solid #d9f2ff;
  border-radius: 20px;
  padding: 15px;
}
.container {
  width: 860px;
  margin: 45px auto;
}
.name {
  font-family: "Roboto Slab", serif;
  font-size: 15px;
  font-weight: 200;
  margin-left: 90px;
  padding: 150px;
}
